body, html {
  direction: rtl;
}

blockquote {
  border: none;
}
blockquote .cite {
  padding-left: 0px;
  padding-right: 30px;
}

dl dt {
  float: right;
}
dl dd {
  text-align: left;
}
dl dd .rating {
  float: left;
  top: 0;
}

.account-profile .contact-fields dd {
  float: left;
}

.add-your-property {
  position: absolute;
  left: 0 !important;
  bottom: -39px;
  right: inherit !important;
  direction: ltr !important;
}
.add-your-property:hover .text {
  left: 50px !important;
}
.add-your-property .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #5a5a5a;
  background-color: #fff;
  display: table;
  padding: 10px;
  position: absolute;
  left: 40px;
  text-align: right;
  top: 0;
  pointer-events: none;
  right: 0;
}
.add-your-property .text:after {
  display: none;
}
.add-your-property .text:before {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 4px 4px 4px 0px;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 0;
  left: -4px;
  bottom: 0;
  margin: auto;
}

.agency dl dd {
  text-align: right;
}
.agency dl dt {
  margin-left: 20px;
}

.bootstrap-select.btn-group .btn .filter-option {
  text-align: right;
  padding-right: 5px;
}

.checkbox label {
  padding-right: 0px !important;
}
.checkbox label .icheckbox {
  margin-right: 0;
  margin-left: 10px;
}

.comments {
  padding-right: 0;
}
.comments .comment {
  padding-right: 80px;
  padding-left: inherit;
}
.comments .comment .date {
  left: 0;
  right: inherit;
}
.comments .comment .date .fa {
  margin-left: 10px;
  top: -1px;
  position: relative;
}
.comments .comment figure {
  right: 0;
  left: inherit;
}
.comments .comment .reply .fa {
  margin-right: 0;
  margin-left: 10px;
}

.display-lines .property .type {
  left: 13px;
  right: inherit;
  top: 55px;
}

.faq .tools {
  left: 40px;
}

#form-features .tools .delete, #form-type .tools .delete {
  float: left;
  margin-left: -20px;
}

.horizontal-search .search-box .bootstrap-select.btn-group .btn .filter-option {
  text-align: right;
  padding-right: 20px;
}
.horizontal-search .search-box .advanced-search-toggle {
  right: inherit !important;
  left: 0;
}
.horizontal-search .search-box .nav-pills > li {
  float: right;
}

.jslider .jslider-pointer:before {
  left: 0;
}

.link-arrow:after {
  display: none;
}
.link-arrow:before {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  color: #1396e2;
  content: "\f104";
  left: -5px;
  position: relative;
  top: -1px;
}

.list-unstyled {
  padding-right: 0;
}

.list-links {
  padding-right: 15px;
}

.navbar-header {
  float: left !important;
}

.navigation .navbar .navbar-nav {
  float: inherit;
  padding-right: 0;
}
.navigation .navbar .navbar-nav li:last-child a {
  padding-right: 10px;
}
.navigation .navbar .navbar-nav li > ul {
  padding-right: 0;
}
.navigation .navbar .navbar-nav li .child-navigation li.has-child:after {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  background-color: transparent;
  color: #1396e2;
  content: "\f104";
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 8px;
  right: inherit;
  width: 5px;
  z-index: 2;
}

.navigation .navbar-collapse {
  padding-left: 0;
}

.navbar-nav > li {
  float: right;
}
.navbar-nav > li.active a:after {
  left: inherit;
  right: 16px;
}
.navbar-nav > li .child-navigation {
  left: inherit;
  right: 15px;
}
.navbar-nav > li .child-navigation li:first-child a:after {
  right: 10px;
  left: inherit;
}

.navigation .navbar .collapse {
  float: right !important;
}

.NFI-button:before {
  margin-right: inherit;
  margin-left: 5px;
  width: 12px;
  position: relative;
}
.NFI-button:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  content: "\f07c";
  margin-right: inherit;
  margin-left: 5px;
  right: -2px;
}

.page-about-us .agent .tools {
  top: 100px;
}

#page-footer #footer-copyright .pull-right {
  float: left !important;
}

.post-author .wrapper {
  padding-left: 0;
  padding-right: 20px;
}

.geo-location {
  right: inherit !important;
  left: 0 !important;
}

#profile .account-type {
  right: inherit;
  left: 0;
}

.property-features-list li {
  display: inline-block;
  padding: 5px 0;
  width: 49%;
}
.property-features-list li:before {
  display: none;
}
.property-features-list li:after {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f111";
  color: #1396e2;
  font-size: 8px;
  position: relative;
  bottom: 2px;
  margin-left: 10px;
}

#search-filter {
  text-align: left;
}
#search-filter figure h3 i {
  margin-left: 5px;
}
#search-filter .sorting > span strong {
  margin-left: 10px;
}
#search-filter .sorting span {
  margin-left: inherit;
  margin-right: inherit;
}

.secondary-navigation .container .contact {
  float: right;
}
.secondary-navigation .container .contact figure {
  margin-right: 0;
  margin-left: 10px;
  float: left;
  direction: ltr !important;
}
.secondary-navigation .container .contact figure strong {
  float: right;
  direction: rtl !important;
  margin-left: 5px;
}
.secondary-navigation .container .user-area {
  float: left;
}
.secondary-navigation .container .user-area .actions {
  float: right;
}
.secondary-navigation .container .user-area .actions a {
  float: right;
}
.secondary-navigation .container .user-area .actions a:last-child {
  margin-left: 0;
}
.secondary-navigation .container .user-area .language-bar {
  margin-left: 0;
  margin-right: 10px;
}

#sidebar .sidebar-navigation {
  padding-left: inherit;
  padding-right: 0;
}
#sidebar .sidebar-navigation li {
  border-left: 3px solid transparent;
  padding-left: 10px;
  padding-right: 0;
  border-right: 0px solid transparent;
}
#sidebar .sidebar-navigation li:hover {
  border-color: #1396e2;
  padding-left: inherit;
  padding-right: 5px;
  border-right: 0px solid transparent;
}
#sidebar .sidebar-navigation li:hover:after {
  border-color: transparent #1396e2 transparent transparent;
}
#sidebar .sidebar-navigation li:after {
  border-width: 4px 4px 4px 0px;
  border-color: transparent transparent transparent transparent;
  left: -7px;
  right: inherit;
}
#sidebar .sidebar-navigation li.active {
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-right: 10px;
  padding-left: inherit;
  background-color: #f3f3f3;
  border-color: #073855;
}
#sidebar .sidebar-navigation li.active:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: transparent #073855 transparent transparent;
}
#sidebar .sidebar-navigation li.active a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent !important;
}
#sidebar .sidebar-navigation li.active a:after {
  display: none;
}
#sidebar .sidebar-navigation li.active i {
  display: inline-block;
}
#sidebar .sidebar-navigation li a {
  color: #2a2a2a;
  display: block;
  padding: 10px 0;
  border: none;
}
#sidebar .sidebar-navigation li a:hover:after {
  display: none;
}
#sidebar .sidebar-navigation li i {
  color: #1396e2;
  margin-left: 8px;
  margin-right: inherit;
}

.submit-features {
  padding-right: 0;
}

.tools {
  left: 0px;
  right: inherit;
}

.tools-persons .tools {
  left: 160px;
}

.navigation .add-your-property {
  left: 0px;
  right: inherit;
}

.owl-next:after {
  content: "\f104" !important;
}

.owl-prev:after {
  content: "\f105" !important;
}

.property-title .actions {
  left: 0px;
  right: inherit;
}
.property-title .actions:hover span {
  left: 0px;
  right: inherit;
}
.property-title .actions span {
  left: 25px;
  right: inherit;
}

.radio {
  margin-right: 0px !important;
  margin-left: 50px;
}
.radio label {
  padding-right: 0px;
}
.radio label .iradio {
  margin-left: 10px;
  margin-right: 0;
}

.section-title .link-arrow {
  right: inherit;
  left: 0;
}

.timeline-item:after {
  left: inherit;
  right: 21px;
}

.verified {
  left: inherit;
  right: 0px;
}
