@mixin font-awesome { @include text-shadow(none); -webkit-font-smoothing: antialiased; font-family: 'fontawesome'; speak: none; font-weight: normal; font-variant: normal; line-height: 1; text-transform: none; }

@mixin shadow { @include box-shadow(0px 1px 1px rgba(0,0,0,.2)); }

@mixin shadow-inner { @include box-shadow(inset 0px 1px 1px rgba(0,0,0,.2)); }

@mixin image-gradient {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

@mixin property-gradient {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

@mixin page-content-gradient {
  background: #f1f1f1;
  background: -moz-linear-gradient(top,  #f1f1f1 0%, #ffffff 80%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(80%,#ffffff));
  background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ffffff 80%);
  background: -o-linear-gradient(top,  #f1f1f1 0%,#ffffff 80%);
  background: -ms-linear-gradient(top,  #f1f1f1 0%,#ffffff 80%);
  background: linear-gradient(to bottom,  #f1f1f1 0%,#ffffff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 );

}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($name) {
  -webkit-animation-duration: $name;
  -moz-animation-duration: $name;
  -ms-animation-duration: $name;
  animation-duration: $name;
}