@media print {
  #page-footer, .breadcrumb { display: none; }
  .page-property-detail {
    body, html { height: 100%; width: 100%; padding: 0; }
    #sidebar, #page-footer, .thick, .actions, .navigation, .breadcrumb { display: none; }
    #property-detail { }
  }
  .page-invoice {
    .navigation { display: none; }
  }
  .invoice { font-size: 12px;
    address { line-height: 18px; }
    h1 { font-size: 36px; margin-top: 20px; }
    h2, h3 { font-size: 18px; }
    section { border-width: 1px; padding: 10px 0; }
    dl {
      dd { margin-bottom: 4px; }
    }
    #description-table {
      th { border-bottom: 2px solid #e8e8e8; padding: 8px 0;
        &:first-child { padding-left: 0px;  }
        &:last-child { padding-right: 0px; }
      }
      td { padding: 10px 0;
        &:first-child { padding-left: 0px; }
        &:last-child { padding-right: 0px; }
      }
    }
  }
}
@page {
  page-break-after: auto;
  margin: 0;
}