$color-default: #998675;
$color-default-darker: darken($color-default, 30%);
$color-grey-dark: #2a2a2a;
$color-grey-medium: #5a5a5a;
$color-grey-light: #f3f3f3;

@import '../compass/css3/_border-radius';
@import '../compass/css3/_box-shadow';
@import '../compass/css3/_box-sizing';
@import '../compass/css3/_text-shadow';
@import '../compass/css3/_transition';
@import '../compass/css3/_transform';
@import '../compass/css3/_background-clip';
@import '../compass/css3/_opacity';
@import '../compass/css3/_filter';
@import '../helpers/_mixins';
@import '../helpers/_elements';
@import '../helpers/_classes';
@import '../helpers/_map';
@import '../helpers/_forms';
@import '../helpers/_footer';
@import '../helpers/_header';
@import '../helpers/_responsive';
@import '../helpers/_print';